.contact-header {
    text-align: center;
    margin-top: 20px;
  }
  
  .contact-header h1 {
    font-size: 50px;
    font-weight: bold;
    color: #1a1a2e; /* Dark blue shade */
  }
  
  .contact-header p {
    font-size: 26px;
    color: #444;
    margin-top: 5px;
  }
  