<div class="overflow-x-auto mx-10">
    <table class="table-auto w-full">
      <thead>
        <tr class="bg-white text-black">
          <th *ngFor="let col of columns" class="px-4 py-3 text-lg font-semibold">
            {{ col }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData; let i = index" class="odd:bg-[#D0F6FF] even:bg-white">
          <td *ngFor="let cell of row" class="px-4 py-3 text-mdgf text-center">
            {{ cell }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  