<nav class="flex justify-between items-center p-4 bg-white shadow-md">
  <ul class="flex items-center gap-10 list-none m-0 p-0 w-full">
    <li class="mr-auto"><img src="assets/logo.png" class="h-12">
    </li>
    <li><a routerLink="/laundry/home" class="text-black hover:font-bold transition cursor-pointer text-lg">Home</a></li>
    <li><a routerLink="/laundry/orders" class="text-black hover:font-bold transition cursor-pointer text-lg">Orders</a></li>
    <li><a routerLink="/laundry/regular-orders" class="text-black hover:font-bold transition cursor-pointer text-lg">Regular Orders</a></li>
    <li><a routerLink="/laundry/express-orders" class="text-black hover:font-bold transition cursor-pointer text-lg">Express Orders</a></li>
    <li><a routerLink="/laundry/items" class="text-black hover:font-bold transition cursor-pointer text-lg">Items</a></li>
    <li><a routerLink="/laundry/feedbacks" class="text-black hover:font-bold transition cursor-pointer text-lg">Feedback</a></li>
    <li><a routerLink="/laundry/summary" class="text-black hover:font-bold transition cursor-pointer text-lg">Summary</a></li>
    <li><a routerLink="/laundry/profile" class="text-black hover:font-bold transition cursor-pointer text-lg">Profile</a></li>
  </ul>
</nav>