<nav class="flex items-center justify-between p-4 bg-white shadow-md">
  <!-- Logo -->
  <div class="flex items-center">
    <img src="assets/logo.png" alt="logo" class="h-12">
  </div>

  <!-- Hamburger Menu for Mobile -->
  <button
    class="block md:hidden text-black focus:outline-none"
    (click)="toggleMenu()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16m-7 6h7"
      />
    </svg>
  </button>

  <!-- Navigation Links -->
  <ul
    class="flex-col md:flex-row md:flex items-center gap-10 list-none m-0 p-0 w-full md:w-auto"
    [ngClass]="{ hidden: !isMenuOpen, flex: isMenuOpen }"
  >
    <li>
      <a
        routerLink="/home"
        class="text-black text-base hover:text-blue-500 hover:border-b-2 hover:border-blue-500 transition cursor-pointer text-lg"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/how-it-works"
        class="text-black text-base hover:text-blue-500 hover:border-b-2 hover:border-blue-500 transition cursor-pointer text-lg"
        >How it works</a
      >
    </li>
    <li>
      <a
        routerLink="/order"
        class="text-black text-base hover:text-blue-500 hover:border-b-2 hover:border-blue-500 transition cursor-pointer text-lg"
        >Order</a
      >
    </li>
    <li>
      <a
        routerLink="/basket"
        class="text-black text-base hover:text-blue-500 hover:border-b-2 hover:border-blue-500 transition cursor-pointer text-lg"
        >Basket</a
      >
    </li>
    <li>
      <a
        routerLink="/contact-us"
        class="text-black text-base hover:text-blue-500 hover:border-b-2 hover:border-blue-500 transition cursor-pointer text-lg"
        >Contact Us</a
      >
    </li>
    <li>
      <a
        routerLink="/profile"
        class="text-black text-base hover:text-blue-500 hover:border-b-2 hover:border-blue-500 transition cursor-pointer text-lg"
        >Profile</a
      >
    </li>
  </ul>
</nav>