<!-- Main container for the item card -->
<div class="bg-white p-4 rounded-lg border border-gray-200 shadow-lg flex flex-col items-center text-center max-w-sm w-full transform transition-transform duration-300 hover:scale-105 hover:shadow-xl">
  <!-- Image with conditional fallback -->
  <ng-container *ngIf="item.image; else defaultImage">
    <img [src]="item.image" alt="{{ item.itemName }}" class="w-32 h-32 mb-4 object-contain">
  </ng-container>
  <ng-template #defaultImage>
    <img src="assets/default.png" alt="Default Item" class="w-32 h-32 mb-4 object-contain">
  </ng-template>

  <!-- Name and Price Side by Side -->
  <div class="flex justify-between items-center w-full mb-2">
    <h3 class="text-xl font-semibold text-gray-900">{{ item.itemName }}</h3>
    <p class="text-lg text-red-500 font-bold">Rs.{{ currentPrice }}</p>
  </div>

  <!-- Description -->
  <p class="text-gray-600 text-sm mb-1">This is a {{ item.categoryName }} item</p>

  <!-- Fabric Type Selection dropdown -->
  <div class="mt-1 w-full flex flex-col md:flex-row items-center gap-2">
    <label class="text-sm font-medium text-gray-700 w-full md:w-1/2 text-left">Fabric Type</label>
    <select [formControl]="selectedGarment" class="w-full md:w-1/2 shadow-md p-1 rounded text-sm">
      <option *ngFor="let type of fabricTypes">{{ type }}</option>
    </select>
  </div>

  <!-- Service Type Selection dropdown -->
  <div class="mt-1 w-full flex flex-col md:flex-row items-center gap-2">
    <label class="text-sm font-medium text-gray-700 w-full md:w-1/2 text-left">Service Type</label>
    <select [formControl]="selectedService" class="w-full md:w-1/2 shadow-md p-1 rounded text-sm">
      <option *ngFor="let service of item.services" [value]="service.serviceId">
        {{ service.serviceName }}
      </option>
    </select>
  </div>

  <!-- Quantity -->
  <div class="mt-1 w-full flex flex-col md:flex-row items-center gap-2">
    <label class="text-sm font-medium text-gray-700 w-full md:w-1/2 text-left">Quantity</label>
    <input type="number" [formControl]="quantity" min="1" class="w-full md:w-1/2 shadow-md p-1 rounded text-sm">
  </div>

  <!-- Add to Basket Button -->
  <button (click)="onAddToBasket()" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-lg flex items-center w-full justify-center hover:bg-blue-600 transition">
    Add to Basket
  </button>
</div>
