<app-driver-navbar></app-driver-navbar>
<br>
<br><br><br>
<div> <app-pickup-tasks-header></app-pickup-tasks-header>
</div>

<div><app-search-bar [initialValue]="searchQuery" (searchChanged)="onSearchChanged($event)">
    </app-search-bar></div>

<div><app-pickup-order-card [searchQuery]="searchQuery" [currentPage]="currentPage"
        [itemsPerPage]="itemsPerPage"
        (totalItemChange)="onTotalItemChange($event)"
        ></app-pickup-order-card></div>

<div><app-pagination [currentPage]="currentPage" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
        (pageChange)="onPageChanged($event)"></app-pagination> </div>

<div><app-footer></app-footer> </div>