<app-driver-navbar></app-driver-navbar>
<br>
<div> <app-pickup-tasks-header></app-pickup-tasks-header>
     
</div>
<div class="flex flex-col sm:flex-row w-full sm:flex-1 ml-5 gap-4 sm:items-center">
        <div class="w-full sm:max-w-4xl">
                <app-search-bar [initialValue]="searchQuery" (searchChanged)="onSearchChanged($event)">
                </app-search-bar>
        </div>

   <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 sm:ml-4 w-full sm:w-auto">
    <button (click)="onGlobalSearch()"
            class="flex items-center justify-center w-full sm:w-auto px-7 py-3 bg-blue-600 text-white text-lg font-medium rounded-xl shadow-lg hover:bg-blue-700 hover:scale-105 transition transform duration-300 ease-out focus:outline-none focus:ring-5 focus:ring-blue-400 focus:ring-opacity-60">
        Global Pickups
    </button>
    <button (click)="onOwnSearch()"
            class="flex items-center justify-center w-full sm:w-auto px-7 py-3 bg-blue-600 text-white text-lg font-medium rounded-xl shadow-lg hover:bg-blue-700 hover:scale-105 transition transform duration-300 ease-out focus:outline-none focus:ring-5 focus:ring-blue-400 focus:ring-opacity-60">
        Own Pickups
    </button>
</div>

</div>

<div><app-pickup-order-card [searchQuery]="searchQuery" [currentPage]="currentPage" [itemsPerPage]="itemsPerPage"
                (totalItemChange)="onTotalItemChange($event)" [isOwnSearch]="isOwnSearch"></app-pickup-order-card></div>

<div><app-pagination [currentPage]="currentPage" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
                (pageChange)="onPageChanged($event)"></app-pagination> </div>

<div><app-footer></app-footer> </div>