<app-driver-navbar></app-driver-navbar>
<app-pickup-tasks-header></app-pickup-tasks-header>

<app-search-bar></app-search-bar>

<div class="flex justify-center gap-6 p-4">
    <app-pickup-order-card></app-pickup-order-card>
    <app-pickup-order-card></app-pickup-order-card> 
    <app-pickup-order-card></app-pickup-order-card>
    <app-pickup-order-card></app-pickup-order-card> 
    
</div>
<div class="flex justify-center gap-6 p-4">
    <app-pickup-order-card></app-pickup-order-card>
    <app-pickup-order-card></app-pickup-order-card> 
    <app-pickup-order-card></app-pickup-order-card>
    <app-pickup-order-card></app-pickup-order-card> 
    
</div>
<div class="flex justify-center gap-6 p-4">
    <app-pickup-order-card></app-pickup-order-card>
    <app-pickup-order-card></app-pickup-order-card> 
    <app-pickup-order-card></app-pickup-order-card>
    <app-pickup-order-card></app-pickup-order-card> 
    
</div>
<div class="flex justify-center gap-6 p-4">
    <app-pickup-order-card></app-pickup-order-card>
    <app-pickup-order-card></app-pickup-order-card> 
    <app-pickup-order-card></app-pickup-order-card>
    <app-pickup-order-card></app-pickup-order-card> 
    
</div>



<app-pagination></app-pagination>
<app-footer></app-footer>




