<div class="flex items-center space-x-2 p-4">
  
    <div class="relative">
        <span class="text-gray-700"> Show </span>
  
      <select 
        class="p-2 border rounded-md bg-gray-100 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
        (change)="onEntriesChange($event)"
      >

      
        <option *ngFor="let entry of entries" [value]="entry" [selected]="entry === selectedEntries">
          {{ entry }}
        </option>
      </select>
    </div>
  
    <span class="text-gray-700"> entries</span>
  

    <input 
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Search..."
    class="border p-2 rounded-full w-60 h-8 focus:ring-2 focus:ring-blue-500 outline-none"
  />
</div>