<div class="flex flex-wrap gap-2 sm:gap-4 border-b border-gray-300 px-4 sm:px-8 md:px-12 lg:px-36 pt-6 justify-center md:justify-start">
  <button
    *ngFor="let category of categories"
    (click)="onCategorySelected(category.name)"
    [class.text-blue-500]="selectedCategory === category.name"
    [class.border-blue-500]="selectedCategory === category.name"
    class="px-4 py-2 text-md sm:text-md text-gray-600 border-b-2 hover:text-blue-500 hover:border-blue-500 transition"
  >
    {{ category.name }}
  </button>
</div>