<!-- Full screen white background container -->
<div class="min-h-screen bg-white">
 <!-- Hero Section -->
    <div class="flex flex-col md:flex-row items-center justify-between px-8  bg-white">

      <!-- Left Content -->
      <div class="max-w-xl">
        <h1 class="text-4xl md:text-5xl font-bold text-gray-800 mb-2 ">
          Welcome 
        </h1>

         <!-- Introduction paragraph -->
        <p class="text-gray-600 mb-6 leading-relaxed">
          Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Vivamus Sit Amet Mi Nec Massa Triducint Blandit Et Eu Sem. Meaecenas Laoreet Ultrices Diam Dignissim.
        </p>
        
        <!-- Navigation link to "How It Works" page -->
      <a href="/how-it-works" type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">
  How It Works</a>
      
       </div>
  
      <!-- Right Image -->
      <div class="flex">
        <img src="assets/cus-home-new.png" alt="Customer Laundry Illustration" class="ml-auto w-200 h-auto" />
      </div>
    </div>
  </div>
  
