<div><app-driver-navbar></app-driver-navbar></div>

<div><app-delivery-task-header></app-delivery-task-header></div>
<br>
<div class="flex flex-col sm:flex-row w-full sm:flex-1 ml-5 gap-4 sm:items-center">
  <div class="w-full sm:max-w-4xl">
    <app-search-bar [initialValue]="searchQuery" (searchChanged)="onSearchChanged($event)">
    </app-search-bar>
  </div>
  <!-- <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 sm:ml-4 w-full sm:w-auto">
  <button (click)="onGlobalSearch()"
    class="flex items-center justify-center w-full sm:w-auto px-7 py-3 bg-blue-600 text-white text-lg font-medium rounded-xl shadow-lg hover:bg-blue-700 hover:scale-105 transition transform duration-300 ease-out focus:outline-none focus:ring-5 focus:ring-blue-400 focus:ring-opacity-60">
    Global Deliveries
  </button>
  <button (click)="onOwnSearch()"
    class="flex items-center justify-center w-full sm:w-auto px-7 py-3 bg-blue-600 text-white text-lg font-medium rounded-xl shadow-lg hover:bg-blue-700 hover:scale-105 transition transform duration-300 ease-out focus:outline-none focus:ring-5 focus:ring-blue-400 focus:ring-opacity-60">
    Own Deliveries
  </button>
</div> -->

<div class="grid grid-cols-1 sm:grid-cols-2 gap-5 sm:ml-4 w-full sm:w-auto">
  <button
    (click)="selectMode('global')"
    [class]="globalBtnClass"
  >
    Global Deliveries
  </button>

  <button
    (click)="selectMode('own')"
    [class]="ownBtnClass"
  >
    My Deliveries
  </button>
</div>



</div>
<div>
  <app-delivery-order-card [searchQuery]="searchQuery" [currentPage]="currentPage" [itemsPerPage]="itemsPerPage"
    (totalItemChange)="onTotalItemChange($event)" [isOwnSearch]="isOwnSearch">
  </app-delivery-order-card>
</div>

<div>
  <app-pagination [currentPage]="currentPage" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
    (pageChange)="onPageChanged($event)">
  </app-pagination>
</div>

<div><app-footer></app-footer></div>