
<app-driver-navbar></app-driver-navbar>
<app-delivery-task-header></app-delivery-task-header>
<app-search-bar></app-search-bar>


<div class="flex justify-center gap-6 p-4">
    <app-delivery-order-card></app-delivery-order-card>
    <app-delivery-order-card></app-delivery-order-card>
    <app-delivery-order-card></app-delivery-order-card>
    <app-delivery-order-card></app-delivery-order-card>
    
</div>

<div class="flex justify-center gap-6 p-4">
    <app-delivery-order-card></app-delivery-order-card>
    <app-delivery-order-card></app-delivery-order-card>
    <app-delivery-order-card></app-delivery-order-card>
    <app-delivery-order-card></app-delivery-order-card>
    
</div>

<div class="flex justify-center gap-6 p-4">
    <app-delivery-order-card></app-delivery-order-card>
    <app-delivery-order-card></app-delivery-order-card>
    <app-delivery-order-card></app-delivery-order-card>
    <app-delivery-order-card></app-delivery-order-card>
    
</div>

<app-pagination></app-pagination>
<app-footer></app-footer>