<div><app-driver-navbar></app-driver-navbar></div>
<br><br><br><br>
<div><app-delivery-task-header></app-delivery-task-header></div>

<div>
  <app-search-bar
    [initialValue]="searchQuery"
    (searchChanged)="onSearchChanged($event)">
  </app-search-bar>
</div>

<div>
  <app-delivery-order-card
    [searchQuery]="searchQuery"
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    (totalItemChange)="onTotalItemChange($event)">
  </app-delivery-order-card>
</div>

<div>
  <app-pagination
    [currentPage]="currentPage"
    [totalItems]="totalItems"
    [itemsPerPage]="itemsPerPage"
    (pageChange)="onPageChanged($event)">
  </app-pagination>
</div>

<div><app-footer></app-footer></div>
