<div class="order-card">
    <p class="order-id">Order ID: #53672</p>
    <span class="status">Pending</span>
  
    <div class="order-details">
      <p><strong>Customer:</strong> John Doe</p>
      <p><strong>Customer Id:</strong> C4357</p>
      <p><strong>Address:</strong> 123 Main St, City A</p>
      <p><strong>Contact:</strong> 022345667</p>
      <p><strong>Laundry Name:</strong> Washmart</p>

    </div>
  
   
    <button class="button order-btn" routerLink="/delivery-pending-order-details" >View Order Details</button>
  </div>
  