<nav class="flex justify-between items-center p-4 bg-white shadow-md">
  <ul class="flex items-center gap-10 list-none m-0 p-0 w-full">
    <li class="mr-auto"><img src="assets/logo.png" alt="logo" class="h-12"></li>
    <li><a routerLink="/driver-home-page" class="text-black text-lg hover:font-bold transition cursor-pointer">Home</a></li>
    <li><a routerLink="/pickups-tasks-mainpage"  class="text-black text-lg hover:font-bold transition cursor-pointer">Pickups</a></li>
    <li><a routerLink="/delivery-tasks-mainpage" class="text-black text-lg hover:font-bold transition cursor-pointer">Deliveries</a></li>
    <li><a routerLink="/driver-contactus-page" class="text-black text-lg hover:font-bold transition cursor-pointer">Contact Us</a></li>
     <li><a routerLink="/bh" class="text-black text-lg hover:font-bold transition cursor-pointer">Profile</a></li>
  </ul>
</nav>


