<nav class="flex justify-between items-center p-4 bg-white shadow-md">
    <ul class="flex items-center gap-10 list-none m-0 p-0 w-full">
      <li class="mr-auto"><img [src]="logourl" alt="logo" class="h-12"></li>
      <li><a routerLink="/" class="text-black text-base hover:font-bold transition cursor-pointer text-lg">Home</a></li>
      <li><a routerLink="/"  class="text-black text-base hover:font-bold transition cursor-pointer text-lg">Pickups</a></li>
      <li><a routerLink="/delivery-task-mainpage" class="text-black text-base hover:font-bold transition cursor-pointer text-lg">Delivaries</a></li>
      <li><a routerLink="/contactus-mainpage" class="text-black text-base hover:font-bold transition cursor-pointer text-lg">Contact Us</a></li>
       <li><a routerLink="/" class="text-black text-base hover:font-bold transition cursor-pointer text-lg">Profile</a></li>
    </ul>
  </nav>
