<div class="px-4">
  <h1 class="text-2xl font-bold text-gray-800 text-left mt-10 mb-4">New Orders</h1>

  <app-search-bar></app-search-bar>

  <div class="overflow-x-auto mt-4">
    <div class="max-w-4xl mx-auto">
      <!--Table-->
      <table class="min-w-full table-auto border-separate border-spacing-y-4">
        <thead>
          <tr class="text-left text-gray-700">
            <th class="px-6 py-2">Tracking ID</th>
            <th class="px-6 py-2">Date</th>
            <th class="px-6 py-2"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders" class="bg-blue-100 rounded-lg">
            <td class="px-6 py-4 font-semibold text-black">
              #{{ order.orderId | slice: 0:32 }}
            </td>
            <td class="px-6 py-4 text-black">
              {{ order.placedDate | date: 'dd/MM/yyyy' }}
            </td>
            <td class="px-6 py-4">
              <!--View More Buttons-->
              <button [routerLink]="['/laundry/confirm-orders']"
                class="flex items-center gap-2 text-black border border-black rounded-full px-4 py-1 text-sm hover:bg-gray-500 hover:text-white transition">
                <img src="assets/eye.png" class="w-4 h-4" alt="View Icon" />
                View More
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <app-pagination class="mt-6"></app-pagination>
</div>
  
  