
<app-header></app-header>
<!-- Add top padding to prevent content from being hidden under sticky navbar -->
<div class="pt-24">

  <div class="ml-10">
    <h1 class="text-[50px] font-bold leading-tight font-inter">
      Welcome <span class="text-[#0A84FF]">{{ laundryName }}!</span>
    </h1>
  </div>


  <img src="assets/Home/home.png" alt="Home" class="float-right w-[350px] h-[380px] object-cover z-0" />

  <!-- Buttons Container -->
  <div class="flex space-x-6 mt-12 ml-20 z-10 relative">
    
    <!-- New Orders Button -->
    <button
      (click)="goToNewOrder()"
      class="rounded-xl shadow-md border border-gray-200 px-5 py-5 text-l items-center hover:bg-gray-200 transition duration-300"
    >
      <span class="text-xl text-center block">New Orders</span>
      <div class="w-[200px] h-[200px] flex items-center justify-center">
        <img src="assets/Home/neworders.png" alt="Regular Orders Icon" />
      </div>
    </button>
  </div>

</div>

<app-footer></app-footer>
