<div class="flex flex-wrap justify-center gap-6 mt-5 mb-5">
  <div *ngFor="let pickup of sortedPickups" class="w-[22%] min-w-[240px] max-w-[300px]">
    <div class="bg-[#d4f6ff] p-4 rounded-[15px] shadow-md font-sans transition-transform duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">

      <!-- Order ID and Status -->
      <div class="flex justify-between items-center mb-3">
        <p class="order-id font-semibold text-sm break-words">Order ID: #{{ pickup.id }}</p>
      </div>

      <span class="status text-sm font-medium px-3 py-1 rounded-full"
        [ngClass]="{
          'pending': pickup.status === 'Pickup Pending',
          'completed': pickup.status === 'Pickup Complete'
        }">
        {{ pickup.status }}
      </span>

      <!-- Order Details -->
      <div class="order-details text-sm mt-2 space-y-1">
        <p><strong>Customer:</strong> {{ pickup.customerName }}</p>
        <p><strong>Customer ID:</strong> {{ pickup.customerId }}</p>
        <p><strong>Address:</strong> {{ pickup.address }}</p>
        <p><strong>Contact:</strong> {{ pickup.contact }}</p>
        <p><strong>Laundry Name:</strong> {{ pickup.laundryName }}</p>
      </div>
     <!-- buttton - view order -->
      <button class="view-button" [routerLink]="['/order-details-pending', pickup.id]">
        View Order Details
      </button>
      

    </div>
  </div>
</div>
